@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body header {
  text-align: center;
}
body header .logo-container {
  height: 50px;
  -webkit-box-shadow: -1px -4px 10px;
          box-shadow: -1px -4px 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .logo-container img {
  width: 150px;
}
body .hidden-checkbox {
  display: none;
}
body .heart-label {
  cursor: pointer;
  position: relative;
}
body .emptyheart, body .fullheart {
  position: absolute;
  top: -15px;
  left: -60px;
}
body .fullheart {
  display: none; /* Cœur plein initialement caché */
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  color: transparent; /* Rend le texte réel transparent pour que le dégradé apparaisse à travers */
  -webkit-background-clip: text;
          background-clip: text;
}
body .emptyheart {
  color: black; /*pour que les contours apparaissent en noir coeur vide*/
}
body .heart-checkbox:checked + .heart-label .emptyheart {
  display: none; /* Cache le cœur vide lorsque la case est cochée */
}
body .heart-checkbox:checked + .heart-label .fullheart {
  display: inline; /* Affiche le cœur plein lorsque la case est cochée */
}
body .footer {
  background-color: #353535;
  padding: 20px;
}
body .footer h3 {
  margin: 0;
  padding-bottom: 15px;
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}
body .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  font-size: 14px;
}
body .footer-link a {
  text-decoration: none;
  color: white;
}
body .footer-link a i {
  font-size: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  body .footer {
    padding: 50px 50px 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 70px;
  }
  body .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  body .footer h3 {
    padding: 0;
  }
  body .footer #mentions {
    padding-left: 30px;
  }
  body .footer .link-weight {
    font-weight: 300;
  }
}
body .loader-background,
body .loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
}
body .loader-background {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 998;
  -webkit-animation: fadeOutBackground 1.5s linear forwards;
          animation: fadeOutBackground 1.5s linear forwards;
}
body .loader-container {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .loader-container .loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FF79DA;
  border-right: 4px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: rotation 1.5s linear forwards;
          animation: rotation 1.5s linear forwards;
}
body .loader-container .loader::after {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #9356DC;
  border-left: 4px solid transparent;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    display: none;
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    display: none;
  }
}
@-webkit-keyframes fadeOutBackground {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeOutBackground {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
body .header form {
  background-color: #EAEAEA;
  color: #353535;
}
body .header-content {
  background-color: #F6F6F6;
}
body .header-content a {
  padding: 15px;
  border-radius: 25px;
  border: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  -webkit-box-shadow: 1px 2px 5px grey;
          box-shadow: 1px 2px 5px grey;
  cursor: pointer;
  -webkit-transition: opacity 400ms, -webkit-box-shadow 400ms;
  transition: opacity 400ms, -webkit-box-shadow 400ms;
  transition: opacity 400ms, box-shadow 400ms;
  transition: opacity 400ms, box-shadow 400ms, -webkit-box-shadow 400ms;
  margin-bottom: 45px;
  text-decoration: none;
  display: inline-block;
}
body .header-content a:hover {
  opacity: 0.9;
  -webkit-box-shadow: 1px 2px 8px grey;
          box-shadow: 1px 2px 8px grey;
}
body .header-text {
  padding: 28px;
}
body .header-text h1 {
  margin: 0;
  font-size: 23px;
  padding-bottom: 14px;
}
body .header-text p {
  margin: 0;
  font-size: 15px;
}
body .header i {
  padding: 15px 10px;
}
body .header input {
  color: #353535;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 110px;
}
body .fonctionnement {
  margin: 50px 25px;
}
body .fonctionnement h2 {
  margin: 0;
}
body .fonctionnement-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
body .fonctionnement-content p {
  margin: 0;
}
body .fonctionnement-allcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
body .fonctionnement-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  -webkit-box-shadow: 1px 3px 7px rgba(128, 128, 128, 0.2705882353);
          box-shadow: 1px 3px 7px rgba(128, 128, 128, 0.2705882353);
  border-radius: 20px;
  font-weight: 900;
  position: relative;
}
body .fonctionnement i {
  color: grey;
  padding: 25px 35px;
  font-size: 20px;
}
body .fonctionnement .fa-store {
  color: #9356DC;
}
body .fonctionnement .number {
  position: absolute;
  top: 23px;
  left: -10px;
  background-color: #9356DC;
  color: white;
  font-size: 10px;
  padding: 5px 8px;
  border-radius: 25px;
}
body .restaurants {
  padding: 20px;
  background-color: #F6F6F6;
}
body .restaurants .a-card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  -webkit-box-shadow: 1px 8px 13px #ede9e9;
          box-shadow: 1px 8px 13px #ede9e9;
  margin-bottom: 30px;
}
body .restaurants .a-card img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 60%;
     object-position: 0 60%;
}
body .restaurants .a-card .card {
  width: 100%;
  position: relative;
  text-decoration: none;
}
body .restaurants .a-card .card .new {
  text-decoration: none;
  color: #008766;
  font-weight: 500;
  border-radius: 2px;
  font-size: 13px;
  padding: 5px 10px;
  background-color: #99E2D0;
  position: absolute;
  top: 10px;
  right: 10px;
}
body .restaurants .a-card .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .restaurants .a-card .card .card-content .card-txt {
  color: black;
  padding: 15px;
}
body .restaurants .a-card .card .card-content .card-txt h3,
body .restaurants .a-card .card .card-content .card-txt p {
  margin: 0;
  font-size: 16px;
}
body .restaurants .a-card .card .card-content i {
  font-size: 25px;
  padding: 0 15px;
}
body .restaurants .card-rating {
  position: absolute;
  bottom: 23px;
  right: 20px;
}
body .restaurants .card-rating .fullheart,
body .restaurants .card-rating .emptyheart {
  position: relative;
  top: initial;
  left: initial;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  body .header .logo-container {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body .header h1 {
    font-size: 36px;
  }
  body .header button {
    margin-bottom: 25px;
  }
  body main .fonctionnement {
    margin: 45px 5%;
  }
  body main .fonctionnement h2 {
    margin: 0;
  }
  body main .fonctionnement-content p {
    margin: 0;
  }
  body main .fonctionnement-allcard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5%;
  }
  body main .fonctionnement-card {
    width: 280px;
    font-size: 14px;
  }
  body main .restaurants {
    padding: 15px 5%;
  }
  body main .restaurants-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 8%;
  }
}
@media screen and (min-width: 1024px) {
  body main .fonctionnement {
    margin: 45px 10%;
  }
  body main .restaurants {
    padding: 15px 10%;
  }
}