@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body header {
  text-align: center;
}
body header .logo-container {
  height: 50px;
  -webkit-box-shadow: -1px -4px 10px;
          box-shadow: -1px -4px 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .logo-container img {
  width: 150px;
}
body .hidden-checkbox {
  display: none;
}
body .heart-label {
  cursor: pointer;
  position: relative;
}
body .emptyheart, body .fullheart {
  position: absolute;
  top: -15px;
  left: -60px;
}
body .fullheart {
  display: none; /* Cœur plein initialement caché */
  color: #9356DC;
}
body .emptyheart {
  color: black; /*pour que les contours apparaissent en noir coeur vide*/
}
body .heart-checkbox:checked + .heart-label .emptyheart {
  display: none; /* Cache le cœur vide lorsque la case est cochée */
}
body .heart-checkbox:checked + .heart-label .fullheart {
  display: inline; /* Affiche le cœur plein lorsque la case est cochée */
}
body .footer {
  background-color: #353535;
  padding: 20px;
}
body .footer h3 {
  margin: 0;
  padding-bottom: 15px;
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}
body .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  font-size: 14px;
}
body .footer-link a {
  text-decoration: none;
  color: white;
}
body .footer-link a i {
  font-size: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  body .footer {
    padding: 50px 50px 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 70px;
  }
  body .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  body .footer h3 {
    padding: 0;
  }
  body .footer #mentions {
    padding-left: 30px;
  }
  body .footer .link-weight {
    font-weight: 300;
  }
}
body header {
  text-align: center;
}
body header .logo-container-menu {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .logo-container-menu i {
  color: #353535;
  font-size: 18px;
  padding-left: 16px;
}
body header .logo-container-menu img {
  width: 150px;
  margin: auto;
}
body header .container-img {
  max-height: 350px;
  overflow: hidden;
}
body header .container-img .img-menu {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 60%;
     object-position: 0 60%;
}
body main {
  background-color: #F6F6F6;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  padding: 15px;
  position: relative;
  z-index: 1;
  margin-top: -45px;
}
body main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  /* Animation d'apparition des groupes avec décalage */
}
body main .menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20%;
}
body main .menu h1 {
  margin: 10px 0;
  font-family: "Shrikhand", sans-serif;
  font-size: 24px;
}
body main .menu i {
  font-size: 25px;
  padding: 0 15px;
}
body main .menu .highlight {
  padding-bottom: 2px;
  border-bottom: 3px solid #99E2D0;
}
body main .menu h4 {
  margin: 0 0 3px 0;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body main .menu p {
  margin: 0;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); /* Décalage initial vers le bas */
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); /* Décalage initial vers le bas */
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
body main .menu .starter, body main .menu .maincourse, body main .menu .dessert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  opacity: 0; /* Initialise l'opacité à 0 pour chaque groupe */
  -webkit-animation: fadeIn 0.6s ease-in-out forwards;
          animation: fadeIn 0.6s ease-in-out forwards;
}
body main .menu .starter {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; /* Décalage de 0.2s pour le groupe d'entrées */
}
body main .menu .maincourse {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
body main .menu .dessert {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
body main .menu .dish-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 75px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 13px;
  -webkit-box-shadow: 0px 0px 20px #d7d7d7;
          box-shadow: 0px 0px 20px #d7d7d7;
}
body main .menu .dish-card:hover .check-container {
  right: 0;
}
body main .menu .dish-card:hover .dish-card-price {
  margin-right: 50px;
}
body main .menu .dish-card-text {
  width: 75%;
  padding: 15px;
}
body main .menu .dish-card-p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 300;
}
body main .menu .dish-card-price {
  color: #353535;
  font-weight: 900;
  padding: 25px 15px 0 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
body main .menu .dish-card .check-container {
  position: absolute;
  height: 100%;
  width: 45px;
  right: -45px;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
body main .menu .dish-card .check-container .fa-circle-check {
  color: #FFFFFF;
  font-size: 1.25rem;
  padding: 0;
}
body main button {
  margin: 25px auto;
  width: 185px;
  padding: 15px;
  border-radius: 25px;
  border: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  -webkit-box-shadow: 1px 2px 5px grey;
          box-shadow: 1px 2px 5px grey;
  cursor: pointer;
  -webkit-transition: opacity 400ms, -webkit-box-shadow 400ms;
  transition: opacity 400ms, -webkit-box-shadow 400ms;
  transition: opacity 400ms, box-shadow 400ms;
  transition: opacity 400ms, box-shadow 400ms, -webkit-box-shadow 400ms;
}
body main button:hover {
  opacity: 0.9;
  -webkit-box-shadow: 1px 2px 8px grey;
          box-shadow: 1px 2px 8px grey;
}

@media screen and (min-width: 768px) {
  body main {
    padding: 40px 15%;
    margin: -40px 12% 0 12%;
  }
  body main .menu-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}