
@mixin button {

    padding: 15px;
    border-radius: 25px;
    border: transparent;
    background: linear-gradient($secondary-color, $primary-color) ;
    color: white;
    box-shadow: 1px 2px 5px grey;
    cursor: pointer;
    transition: opacity 400ms, box-shadow 400ms;

    &:hover{
        opacity: 0.9;
        box-shadow: 1px 2px 8px grey;
    }
}

