@import 'global.scss';

body {
  form {
    background-color: $grey-lighten;
    color: $text-color;

    i {
      padding: 15px 10px;
    }

    input {
      color: $text-color;
      font-weight: bold;
      background-color: transparent;
      border: none;
      width: 32%;
    }
  }

  .header {
    &-content {
      background-color: $grey-lighten;

      button {
        margin-bottom: 45px;
        @include button;
      }
    }

    &-text {
      padding: 25px 0;

      h1 {
        margin: 0;
        font-size: 21px;
        padding-bottom: 14px;
      }

      p {
        margin: 0;
        font-size: 16px;
      }
    }
  }

  .fonctionnement {
    margin: 15px;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-card {
      display: flex;
      align-items: center;
      background-color: $grey_lighten;
      box-shadow: 1px 3px 7px #80808045;
      border-radius: 20px;
      font-weight: 900;
    }
  }
}