@import "variables.scss";
@import "global.scss";
@import "mixin.scss";

body {
  .loader-background,
  .loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .loader-background {
    backdrop-filter: blur(10px);
    z-index: 998;
    animation: fadeOutBackground 1.5s linear forwards;
  }

  .loader-container {
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: inline-block;
      border-top: 4px solid $secondary-color;
      border-right: 4px solid transparent;
      box-sizing: border-box;
      animation: rotation 1.5s linear forwards;

      &::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border-bottom: 4px solid $primary-color;
        border-left: 4px solid transparent;
      }
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
        display: none; // Suppression du display: none; de l'animation rotation
      }
    }

    @keyframes fadeOutBackground {
      0%, 90% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        display: none;
      }
    }
  }
  .header {
    form {
      background-color: $grey-darken;
      color: $text-color;
    }

    &-content {
      background-color: $grey-lighten;

      a {
        @include button;
        margin-bottom: 45px;
        text-decoration: none;
        display: inline-block;
      }
    }

    &-text {
      padding: 28px;

      h1 {
        margin: 0;
        font-size: 23px;
        padding-bottom: 14px;
      }

      p {
        margin: 0;
        font-size: 15px;
      }
    }

    i {
      padding: 15px 10px;
    }

    input {
      color: $text-color;
      font-weight: bold;
      background-color: transparent;
      border: none;
      width: 110px;
    }
  }

  .fonctionnement {
    margin: 50px 25px;
    
    h2 {
      margin: 0;
    }
    
    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      p {
        margin: 0;
      }
    }
    
    &-allcard {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
    &-card {
      display: flex;
      align-items: center;
      background-color: $grey_lighten;
      box-shadow: 1px 3px 7px #80808045;
      border-radius: 20px;
      font-weight: 900;
      position: relative;
    }
    
    i {
      color: grey;
      padding: 25px 35px;
      font-size: 20px;
    }
    .fa-store {
      color: $primary-color;
    }
    
    .number {
      position: absolute;
      top: 23px;
      left: -10px;
      background-color: $primary-color;
      color: white;
      font-size: 10px;
      padding: 5px 8px;
      border-radius: 25px;
    }
  }
  
  .restaurants {
    padding: 20px;
    background-color: $grey-lighten;
    
    .a-card {
      position: relative;
      background-color: white;
      border-radius: 15px;
      display: flex;
      border: 1px solid transparent;
      box-shadow: 1px 8px 13px #ede9e9;
      margin-bottom: 30px;
      
      img {
        width: 100%;
        height: 150px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        object-position: 0 60%;
      }
      
      .card {
        width: 100%;
        position: relative;
        text-decoration: none;
        
        .new {
          text-decoration: none;
          color: $green-text;
          font-weight: 500;
          border-radius: 2px;
          font-size: 13px;
          padding: 5px 10px;
          background-color: $tertiary-color;
          position: absolute;
          top: 10px;
          right: 10px;
        }
        
        .card-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          .card-txt {
            color: black;
            padding: 15px;
            
            h3,
            p {
              margin: 0;
              font-size: 16px;
            }
          }
          
          i {
            font-size: 25px;
            padding: 0 15px;
          }
        }
      }
    }
    
    .card-rating {
      position: absolute;
      bottom: 23px;
      right: 20px;
      
      .fullheart,
      .emptyheart {
        position: relative;
        top: initial;
        left: initial;
        font-size: 25px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    .header {
      .logo-container {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: none;
      }

      h1 {
        font-size: 36px;
      }

      button {
        margin-bottom: 25px;
      }
    }

    main {
      .fonctionnement {
        margin: 45px 5%;

        h2 {
          margin: 0;
        }

        &-content {
          p {
            margin: 0;
          }
        }

        &-allcard {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 5%;
        }

        &-card {
          width: 280px;
          font-size: 14px;
        }
      }

      .restaurants {
        padding: 15px 5%;

        &-card {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 10px 8%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  body {
    main {
      .fonctionnement {
        margin: 45px 10%;
      }

      .restaurants {
        padding: 15px 10%;
      }
    }
  }
}
