@import "variables.scss";
@import "mixin.scss";

body {
  font-family: $font-text;
  margin: 0;

  header {
    text-align: center;

    .logo-container {
      border-bottom: 1px solid transparent;
      box-shadow: -1px -4px 10px;
      z-index: 1000;
      position: relative;

      img {
        width: 150px;
        padding: 15px 0;
      }
    }
  }

  .footer {
    background-color: $text-color;
    padding: 20px;
    h3{
      margin: 0;
      padding-bottom: 15px;
      color: white;
      font-family: $font-title;
      font-weight: lighter;
      font-size: 18px;
    }

    &-link{
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-size: 14px;
      a{
        text-decoration: none;
        color: white;
        i{
          font-size: 10px;
          padding-right: 10px;
        }
      }
    }

    
    
  }
}