@import "variables.scss";
@import "mixin.scss";

body {
  font-family: $font-text;
  margin: 0;

  header {
    text-align: center;

    .logo-container {
      border-bottom: 1px solid transparent;
      box-shadow: -1px -4px 10px;
      z-index: 1000;
      position: relative;

      img {
        width: 150px;
        padding: 15px 0;
      }
    }
  }

  footer {
    img {
      width: 100%;
    }
  }
}