<<<<<<< HEAD
// variables

=======
// Variables
>>>>>>> f0a0f1ba87046dbcf6c6aad0d35683496113695c
$primary-color:#9356DC ;
$secondary-color:#FF79DA ;
$tertiary-color:#99E2D0;
$text-color: #353535;
<<<<<<< HEAD
$grey-darken:#EAEAEA;
$grey-lighten: #F6F6F6;
=======
$grey_darken:#EAEAEA;
$grey_lighten: #F6F6F6;
>>>>>>> f0a0f1ba87046dbcf6c6aad0d35683496113695c
$white: #FFFFFF;
$green: #99E2D0;
$green-text: #008766;

$font-text: 'Roboto', sans-serif;
<<<<<<< HEAD
$font-title: 'Shrikhand', sans-serif;
=======
$font-title: 'Shrikhand', sans-serif;
>>>>>>> f0a0f1ba87046dbcf6c6aad0d35683496113695c
